# Upload folders
uploads/
files/
videos/

# Media
*.mp4
*.pdf
*.zip

#env
.env
notification-service/src/main/resources/firebase-service-account.json


# Java
target/
*.log

# Node
node_modules/

# OS
.DS_Store
Thumbs.db